
.container {
  position: relative;
}

.content {
  position: relative;
  color: #fff;
  height: 320px;
  padding: 24px;
}

.title {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.meta {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 12px;
  width: 100%;
  margin-top: 16px;
}

.metaItem {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  gap: 4px;
}

.tags {
  margin-top: 12px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.tag {
  --tag-font-size: 12px; 
  
  /* 변수를 font-size 속성에 적용 */
  font-size: var(--tag-font-size);

  display: inline-flex;
  border-color: white;
  border-width: 1px;
  padding: 2px; 
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 16px; 
  text-align: center; 
  overflow: hidden;
  white-space: nowrap;
  color: white;
  gap: 4px;
}

.icon {
  width: 16px;
  height: 16px;
}